*{
    font-family: 'Poppins', sans-serif;

    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #788487;
    text-decoration: none;
    list-style-type:none ;
}

.custom-nav-H{
    background-color: wheat !important;
    /* height: 76px !important; */
    /* position: relative; */
}

.brand{
    font-weight: 700;
    color: grey !important;
}


.navbar-nav li a{
    letter-spacing: .05625rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;

    
    
} 

.navbar-nav li a{
    color: grey !important;
}

.extra-nav-ww li i{
    /* color: grey; */
    font-size: 20px;
    /* margin-top: 15px; */
    
}




/* navbar styling ends  */

.offcanvas-bg{
    background: #222 !important;
}

.widget {
    margin-bottom: 60px;
    font-size: .8125rem;
    /* padding: 40px; */

}


.textwidget{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-off{
    width: 80px;
}





.off-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.off-img li{
    /* list-style-type: none; */
    width:30%;
    margin: 5px;
}

.social-icon-off{
    display: flex;
    justify-content: center;
}

.social-icon-off li a i{
    font-size: 18px;

}
.social-icon-off li{
padding: 10px;

}

/* navbar ends here */

.module-page-title {
    padding-top: 119px;
    padding-bottom: 45px;
}

.bg-gray {
    background-color: #f8f8f8;
}

.module-page-title .page-title-heading {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.3;
    color: #222;
}

.module-page-title .breadcrumb {
    justify-content: flex-end;
    font-size: .8125rem;
    padding: 0.625rem 0;
    margin-bottom: 0;
}

.module-page-title .breadcrumb .breadcrumb-item > a {
    color: #788487;
    text-decoration: none;
}

/* module-page-title ends here */
.heading-underline h5, .heading-underline .h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.heading-underline h5{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #222;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-width: 1px;
    padding: 1.0625rem 0.875rem;
    font-size: .75rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 3.375rem;
    padding: 1.0625rem 0.875rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ededed;
    border-radius: 0.1875rem;
    transition: border-color .15s ease-in-out,  .15s ease-in-out;
    
}

.cart-table {
    border: 1px solid #f0f0f0;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.cart-table > tbody > tr > td, .cart-table > tfoot > tr > td {
    border: 0;
    border-top: 1px solid #f0f0f0;
    padding: 20px;
    vertical-align: middle;
}

.text-right {
    text-align: right !important;
}

.m-t-70 {
    margin-top: 70px!important;
}

.btn {
    text-transform: uppercase;
    letter-spacing: .1125rem;
    font-size: .75rem;
}


.btn {
    display: inline-block;
    font-weight: 600;
    color: #788487;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 1rem 1.875rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 0.1875rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-brand {
    color: #fff;
    background-color: #505cfd;
    border-color: #505cfd;
}

.module-1{
    padding: 120px 0 100px;
}

/*  module one ends here */




footer{
    background: #222;
    height: 100%;
}

.footer-widget{
    padding-top: 70px;
}

.widget .title-f > h6 {
    text-transform: uppercase;
    letter-spacing: 2.6px;
    font-weight: 600;
    font-size: .6875rem;
    margin: 0;
    color: #fff;
}

.title-f{
    margin-bottom: 30px;
}

.text-widget{
    width: 250px;
}

.social-icon li{
    display: inline-block;
}

.widget-recent-enty ul li{
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    border-color: #2f2f2f;
    width: 210px;
}

.unorder-f li a {
    text-decoration: none;
    color: #cecece;
}

.post-date{
    font-size: .6875rem;
    color: #a3a6a8;
    display: block;
}

.widget-recent-works > ul > li {
    border: 0 !important;
    float: left;
    width: 33.333%;
    padding: 4px;
    margin: 0;
}


footer .footer-bar {
    border-top: 1px solid #2c2c2c;
}

.copyright p a{
    text-decoration: none;
    color: #cecece;
}